* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/*** Video  ***/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}


/*** End Video ***/


/*** Header and subtitle ***/

.title-container {
    z-index: 1000;
    position: absolute;
    text-align: center;
    top: 15%;
    width: 100%;
}

.filter {
    background: rgba(0, 0, 0, 0.5);
    padding: 2em 0 .25em;
}

.title {
    font-size: 4em;
    font-family: 'Barrio', cursive;
    margin: 0;
}

.subtitle {
    font-size: 1.7em;
    padding: 0 2em 0;
    margin-bottom: 1em;
}

.title,
.subtitle,
.fa-arrow-down {
    color: #ffc000;
}


/*** End header and subtitle ***/


/*** Font Awesome ***/

.fa-twitter-square,
a:visited .fa-twitter-square {
    color: #0099CC;
}

.fa-arrow-down,
.fa-twitter-square {
    font-size: 2em;
}

.fa-arrow-down {
    margin-top: .5em;
}

.fa-arrow-down:hover {
    text-shadow: -1px 1px 8px #ffde79;
}

.fa-twitter-square:hover {
    text-shadow: 0px 0px 5px #9fffe7;
}


/*** End Font Awesome ***/


/*** Taco Generator***/

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.buttonQuote {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}

#nextTacoButton {
    font-size: 1.1em;
    border-radius: 5%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: .5em 1em;
    font-size: 1.07em;
}

#nextTacoButton:active {
    background: #007004;
    outline: none;
}

.pContent {
    padding: 0 2em;
    margin-bottom: 2.5em;
}


/** Full Recipe **/

#recipeButton {
    display: block;
    margin: auto;
    height: 8em;
}

#recipeButton:focus,
#recipeButton:active,
#recipeButton:focus:active {
    outline: none;
}

p#tacoP {
    margin: 1.8em 0;
}
